* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #64d5d0;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

header .logo img {
    width: 100px;
    height: auto;
}

header .titulo {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: 'Snorkad Regular', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.registro-compra {
    margin-top: 20px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.acciones-registradas {
    width: 90%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.acciones-registradas a {
    display: flex;
    background-color: #1D7874;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    justify-content: center;
}

h2 {
    font-size: 22px;
    color: #1D7874;
    margin-bottom: 20px;
    text-align: center;
}

.registro-compra form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registro-compra form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#registro-compra-button {
    width: 100%;
    background-color: #1D7874;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

button:hover {
    background-color: #145c59;
}


a:hover {
    background-color: #145c59;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table thead {
    background-color: #1D7874;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #e6f7ff;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #1D7874;
    color: #fff;
    font-size: 14px;
}

.informacion {
    display: flex;
    height: 100%;
}

.contenido {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#sidebar-menu {
    width: 250px;
    background-color: #2e9893;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    left: 0;
}

#sidebar-menu .menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu .menu-content ul li {
    margin-bottom: 20px;
}

#sidebar-menu .menu-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

#sidebar-menu .menu-content ul li a:hover {
    background-color: #145c59;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #1D7874;
}

.consulta-acciones {
    width: 100%;
}

.consulta-acciones-div {
    width: 40px;
    height: 40px;
    background-color: #1D7874;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.consulta-acciones-div:hover {
    background-color: #145c59;
}

#stock-lookup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

#stock-lookup-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#stock-lookup-form button {
    background-color: #1D7874;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#results {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    list-style: none;
}

#results li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}