<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras y Detalles</title>
    <link rel="stylesheet" href="../static/css/compras.css">
</head>

<body>
<header class="header">
    <div class="logo">
        <div class="img">
            <img src="../static/img/LogoStockTracker_SF_SL.png" alt="Logo Stock Tracker">
        </div>
        <h1>STOCK TRACKER</h1>
    </div>
    <div class="titulo">
        <h1>Acciones Compradas</h1>
    </div>
</header>
<main class="main">
    <div class="informacion">
        <div id="sidebar-menu">
            <div class="menu-content">
                <ul>
                    <li><a href="/">Registrar compra</a></li>
                    <li><a href="/compras">Ver compras</a></li>
                    <li><a href="/logout">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
        <div class="contenido">
            <div class="acciones-registradas">
                <h2>Detalle de Acciones Compradas</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha de Compra</th>
                            <th>Acción</th>
                            <th>Precio de Compra</th>
                            <th>Cantidad Comprada</th>
                            <th>USD Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compras %}
                        <tr>
                            <td>{{ compra.fecha_compra.strftime('%Y-%m-%d') }}</td>
                            <td>{{ compra.empresa }}</td>
                            <td>${{ compra.valor_compra }}</td>
                            <td>{{ compra.cantidad_acciones }}</td>
                            <td>{{ compra.cantidad_acciones * compra.valor_compra }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <p>&copy; 2025 Stock Tracker</p>
</footer>
</body>

</html>
