<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <div class="img">
                <img src="../static/img/LogoStockTracker_SF_SL.png" alt="Logo Stock Tracker">
            </div>
            <h1>STOCK TRACKER</h1>
        </div>
        <div class="titulo">
            <h1> ¡Bienvenido {{ username }}!</h1>
        </div>
    </header>
    <main class="main">
        <div class="informacion">
            <div id="sidebar-menu">
                <div class="menu-content">
                    <ul>
                        <li><a href="/">Registrar compra</a></li>
                        <li><a href="/compras">Ver compras</a></li>
                        <li><a href="/resumen">Ver resumen</a></li>
                        <li><a href="/graficos">Ver gráficos</a></li>
                        <li><a href="/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
            <div class="contenido">
                <div class="registro-compra">
                    <h2>Registrar Compra</h2>
                    <form action="/comprar" method="POST">
                        <div class="input-group">
                            <div class="input-wrapper">
                                <label for="empresa">Símbolo:</label>
                                <input type="text" id="empresa" name="empresa" placeholder="Ejemplo: 'AAPL'" required>
                            </div>
                            <div class="input-wrapper">
                                <label for="cantidad">Cantidad:</label>
                                <input type="number" id="cantidad" name="cantidad" min="1" placeholder="Ejemplo: '3'"
                                    required>
                            </div>
                            <div class="input-wrapper">
                                <label for="valor-compra">Valor de compra:</label>
                                <input type="number" id="valor-compra" name="valor-compra" min="1"
                                    placeholder="Ejemplo: '333'" required>
                            </div>
                        </div>
                        <button type="submit" id="registro-compra-button">Registrar</button>
                    </form>
                </div>
                <div class="consulta-acciones-div" id="consulta-acciones-button">?</div>
            </div>
        </div>
        <div class="modal-overlay" id="modal-overlay">
            <div class="modal">
                <span class="close-modal" id="close-modal">&times;</span>
                <div class="consulta-acciones">
                    <h2>Consultar Valores de Acciones</h2>
                    <form id="stock-lookup-form">
                        <label for="symbol">Símbolo:</label>
                        <input type="text" id="symbol" name="symbol" placeholder="Ejemplo: TSLA" required>
                        <button type="submit">Consultar</button>
                    </form>
                    <div id="stock-data">
                        <h3>Resultados de la Consulta:</h3>
                        <ul id="results"></ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Stock Tracker</p>
    </footer>
    <script>

        // Funcionalidad del modal
        const modalOverlay = document.getElementById('modal-overlay');
        const consultaAccionesButton = document.getElementById('consulta-acciones-button');
        const closeModalButton = document.getElementById('close-modal');

        function mostrarAcciones() {
            modalOverlay.style.display = 'flex';
        }

        function cerrarModal() {
            modalOverlay.style.display = 'none';
        }

        consultaAccionesButton.addEventListener('click', mostrarAcciones);
        closeModalButton.addEventListener('click', cerrarModal);

        // Cerrar modal al hacer clic fuera de él
        modalOverlay.addEventListener('click', function (event) {
            if (event.target === modalOverlay) {
                cerrarModal();
            }
        });

        // Manejar la consulta de valores de acciones
        document.getElementById('stock-lookup-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const symbol = document.getElementById('symbol').value;
            const resultsContainer = document.getElementById('results');
            resultsContainer.innerHTML = '';

            try {
                const response = await fetch(`/api/daily-stock-data?symbol=${symbol}`);
                const data = await response.json();

                if (response.ok) {
                    data.forEach(entry => {
                        const li = document.createElement('li');
                        li.textContent = `Fecha: ${entry.date}, Apertura: ${entry.open}, Máximo: ${entry.high}, Mínimo: ${entry.low}, Cierre: ${entry.close}, Volumen: ${entry.volume}`;
                        resultsContainer.appendChild(li);
                    });
                } else {
                    resultsContainer.innerHTML = `<li>Error: ${data.error}</li>`;
                }
            } catch (error) {
                resultsContainer.innerHTML = `<li>Error: No se pudo realizar la consulta. Intenta nuevamente.</li>`;
            }
        });
    </script>
</body>

</html>