<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
<header>

</header>
<main>
    <div class="main">
        <div class="titulo">
            <img src="/img/LogoStockTracker_SF_SL_V.png" alt="">
            <h1>STOCK TRACKER</h1>
        </div>
        <div class="form">
            <form action="/login" method="POST">
                <div class="correo">
                    <label for="email" id="titulo-correo">Correo:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="clave">
                    <label for="password" id="titulo-clave">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="boton-login">
                    <button type="submit">Iniciar Sesión</button>
                </div>
            </form>
            <div class="registro">
                <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>

</html>